.hero{
padding-top: 80px;
	margin-top: -30px;
	border-radius: 0px 0px 0px 50px;
border: 1px solid rgba(36, 37, 38, 0.20);
background-image: url('../images/hero-bg.webp');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
@media screen and (min-width:768px) {
	border-radius: 0px 0px 0px 100px;
	padding-top: 169px;
}
&__container{
	display: flex;
	flex-direction: column;
	
	justify-content: space-between;
	@media screen and (min-width:1024px) {
		flex-direction: row;
		gap: 40px;
	}
}
&__content{
	padding:  0 0 54px 0;
	color: $--white;
	text-align: center;
		@media screen and (min-width:1024px) {
		max-width: 455px;
		text-align: left;
	}
	@media screen and (min-width:768px) {
		padding:  0 0 163px 0;
	}
	h1{
		@include titleH1;
		margin-bottom: 9px;
		text-wrap: balance;
	}
	p{
		@include p3;
		margin-bottom: 30px;
	}

}
&__image{
	width: 100%;
	@media screen and (min-width:1024px) {
		max-width: 548px;
		width: calc((100% / 2) - 40px) ;
	}
	img{
		height: 100%;
		width: 100%;
		@media screen and (max-width:1023.9px) {
				max-width: 548px;
			margin: 0 auto;
		}
	}
}
}