.ingredients{
	overflow: hidden;
	&__wrap{
		display: flex;
		gap: 10px;
		width: 100%;
		overflow: hidden;
		overflow-x: auto;
		@media screen and (min-width:768px) {
			gap: 20px;
		}
		@media screen and (max-width:767.9px) {
			width: 100vw;
			margin-right: -16px;
		}
	}
	&__item{
			display: flex;
		justify-content: space-between;
		gap: 40px;
		flex-direction: column;
		position: relative;
		color: $--white;
		transition: min-width .3s ease;
		padding: 30px 20px;
		width: 100%;
		height: fit-content;
		border-radius: 12px;
		height: auto;
		@media screen and (min-width:1024px) {
			overflow-y: auto;
		overflow-x: hidden;
		border-radius: 12px;
		height: 660px;
		min-width: 18%;
		width: 252px;
		}
		@media screen and (min-width:768px) and (max-width:1023.9px){
			min-width: 40%;
		}
		@media screen and (min-width:768px){
		padding: 60px 30px 30px 30px;
		}
		@media screen and (max-width:767.9px){
			min-width: 89%;
		}
		@media screen and (max-width:1023.9px){
			aspect-ratio: 323 / 373;
		}
		&.active {
			@media screen and (min-width:1024px) {
			min-width: 40%;
				width: 524px;
			}
			img{
				filter:grayscale(.5);
			}
			.ingredients__item__inner {
			visibility: visible;
			opacity: 1;
		}
		}
	
		img{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: inherit;
			z-index: -2;
			filter:grayscale(1);
			transition: .3s ease;
			object-fit: cover;
		}
		span{
			font-size: 28px;
			font-style: normal;
			font-weight: 700;
			line-height: 120%; /* 33.6px */
			text-transform: uppercase;
			color: $--white;
			@media screen and (min-width:768px) {
				font-size: 30px;
			}
			@media screen and (min-width:1024px) {
					word-wrap: nowrap;
					white-space: nowrap;
			}

		}
		&:before{
			content: '';
			border-radius: 12px;
			background: linear-gradient(0deg, rgba(59, 59, 59, 0.70) 0%, rgba(59, 59, 59, 0.70) 100%),  lightgray 50% / cover no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: inherit;
			z-index: -1;
			opacity: .7;
		}
		&__inner{
			
			margin-top: auto;
			transition: all .3s ease;
			width: 100%;
			@media screen and (min-width:1024px) {
				visibility: hidden;
				opacity: 0;
			}
			ul{
				@include list;
				width: 100%;
				li:before{
				background: url('../images/list_img.svg') center center / cover no-repeat;
				}
			}
		}
		}

}