.socials{
	&__container{
		border-radius: 14px;
		padding: 60px 0 40px 0;
		background-color: rgba(234, 232, 230, 0.80);
	@media screen and (min-width:768px) {
		padding: 50px 0;
	}
	@media screen and (max-width:767.9px) {
		width: calc(100vw - 20px);
		width: 100vw;
		margin-left: -20px;
	}
	}
	&__title{
		margin-bottom: 20px;
		padding: 0 20px;
		text-align: center;
		align-items: center;
		@media screen and (min-width:768px) {
			padding: 0 50px;
		}
	}
	&__wrapper{
		display: flex;
		align-items: center;
		width: fit-content;
		gap: 20px;
		span{
			@include p3;
		}
	}
	&__items{
		display: flex;
		align-items: center;
		gap: 8px;
		a{
			min-width: 48px;
			min-height: 48px;
			max-width: 48px;
			max-height: 48px;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			border: .5px solid #9A958B;
			svg{
				max-width: 15px;
				max-height: 15px;
			}
			@media screen and (min-width:768px) {
				min-width: 64px;
			min-height: 64px;
			max-width: 64px;
			max-height: 64px;
			}
				background:
				linear-gradient(180deg, var(--color-gradient-initial-top-svg) 0%, var(--color-gradient-result-top-svg) 100%), 
				linear-gradient(180deg, var(--color-gradient-initial-bottom-svg) 3.85%, var(--color-gradient-result-bottom-svg) 108.46%);
				transition: --color-gradient-initial-top-svg 0.3s linear, --color-gradient-result-top-svg 0.3s linear,--color-gradient-initial-bottom-svg .3s linear, --color-gradient-result-bottom-white .3s linear ;
				&:hover{
					border-color: transparent;
					--color-gradient-initial-top-svg: #242526;
					--color-gradient-result-top-svg: #6B6B6B;
					--color-gradient-initial-bottom-svg:#242526 ;
					--color-gradient-result-bottom-svg:#6B6B6B;
					svg {
						g{
							opacity: 1;
						}
						path{
						fill: $--white;
						fill-opacity:1;
						
					}
				}
			}
		}
	}
	&__slider {
		.swiper-wrapper{
				padding-top: 43px;
		}
	}
	&__slide{
		position: relative;
		max-height: 383px;
		height: 100%;
		img{
			aspect-ratio: 1;
			max-height: 340px;
			max-width: 340px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
			&__icon{
			position: absolute;
			top: 13.85px;
			right: 15px;
			width: 26px;
			height: 26px;
			z-index: 1;
		}
		&::before{
			content: '';
			width: 37px;
			height: 64px;
			transform:translateX(-50%) rotate(30deg);
			background: url('../images/formulas-img.svg') center center / cover no-repeat;
			position:absolute;
			top: -39px;
			left: 50%;
		}
	}

}